.chat-container {
  background-color: red;
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(71, 53, 53, 0.1);
  overflow: hidden;
  height: 650px;
  width: 30%;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  font-size: 14px;
  color: #333;
}

.message {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.input-area {
  display: flex;
  border-top: 1px solid #ddd;

  height: 50px;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.input-area button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.input-area button:hover {
  background-color: #0056b3;
}
