.room {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 94%;
  height: 93vh;
  max-width: 1800px;
  max-height: 1000px;
  margin: auto;
  box-sizing: border-box;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  height: 100%;
  /* background-color: red; */
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  /* background-color: blue; */
}

.room-bottom-right {
  display: flex; 
  flex-direction: row; 
  gap: 10px; 
  align-items: center; 
  width: 100%; 
  background-color: red;
}

.room-bottom-right .avatar {
  flex: 7; /* 7:3 비율 중 7 */
  width: 70%; /* Flexbox 크기에 따라 조정 */
  height: 70%; /* Flexbox 크기에 따라 조정 */
  height: auto;
  border: 1.5px solid black; /* 기존 스타일 유지 */
}

.room-bottom-right button {
  flex: 3; /* 7:3 비율 중 3 */
  min-width: 30%; /* 최소 너비로 비율 보장 */
  max-width: 30%; /* 최대 너비로 비율 보장 */
  padding: 8px 16px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}